a {
  color: inherit;
  margin: 0px;
}

ul,
li,
a,
p,
h1,
h2,
h3 {
  margin: 0px;
  padding: 0px;
}
.navbar {
  height: 3.3rem;
  width: 100%;
  background: #373737;
}

.navleft ul {
  padding-top: 0.3rem;
  display: inline-block;
  margin: 0px 0px 0px 525px;
  float: left;
}

.navleft a {
  display: inline-block;
  text-decoration: none;
  height: 2.05rem;
  width: 7.5rem;
  color: white;
  text-align: center;
  padding-top: 15px;
  font-size: 0.8rem;
}

.navleft a:hover {
  color: black;
  background: rgb(185, 182, 182);
}

.navleft .selected {
  background: white;
  color: black;
}

.navright ul {
  display: inline-block;
  float: right;
  margin-right: 50px;
}

.navright a {
  display: inline-block;
  text-decoration: none;
  height: 2rem;
  width: 5.5rem;
  text-align: center;
  padding-top: 15px;
  font-size: 0.8rem;
}

.navright a:hover {
  color: black;
}

.basicinfo {
  position: absolute;
  width: 100%;
  height: 20rem;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    180deg,
    rgb(198, 216, 216) 0%,
    rgba(34, 193, 195, 1) 97%
  );
}

.basicinfo p {
  font-size: 3rem;
  font-family: "Times New Roman", Times, serif;
}

.profilepic {
  width: 30%;
  float: left;
  position: relative;
  height: 20rem;
  width: 20rem;
  background: url("./img/profilepic.jpg") no-repeat center/cover;
  border: 4px solid white;
  border-radius: 50%;
  margin: 170px 0px 0px 80px;
}

.picturetext {
  width: 70%;
  float: right;
  bottom: 0px;
  margin-top: 250px;
  font-size: 3rem;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
